@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.sticky-nav {
  animation: sticky-nav 300ms;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}

/*  */

.banner_container {
  width: 100%;
  height: 100%;
  --color: #e1e1e137;
  background-color: #f3f3f300;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

.technology_container {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: rgba(29, 31, 32, 0) radial-gradient(rgba(102, 102, 102, 0.307) 10%, transparent 1%);

  background-size: 11px 11px;
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: rgb(32, 31, 31);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}

/* header button */

.mail_button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.mail_button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.mail_button:hover {
  background: #000;
}

.mail_button:hover .svg-wrapper {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.mail_button:hover svg {
  transform: translateX(2.1em) scale(1.1);
  fill: #fff;
}

.mail_button:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.mail_button:active {
  transform: scale(0.95);
}

/* ===================================== */
.expand_container {
  /* transform: rotate(-25deg) skew(25deg); */
  /* transform: rotate(deg) skew(1deg); */
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  /* width: 100px; */
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.expand_container:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #4f46e5;
  transform: skewX(-41deg);
}

.expand_container:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background:  #4f46e5;
  transform: skewY(-49deg);
}

.expand_container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #4f46e5;
  color: #fff;
  /* font-size: 25px; */
  transition: 1.1s ease-out;
}

.expand_container:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
}

.expand_container:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.expand_container:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.expand_container:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.expand_container:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.expand_container:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.expand_container:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.expand_container:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.expand_container:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.expand_container:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.expand_container:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

.expand_container:nth-child(1):hover span {
  background:  #f00c9c;;
}

/* ================================ */

/* === removing default button style ===*/
.button1 {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button1 styling */
.button1 {
  --border-right: 6px;
  --text-stroke-color: rgba(151, 148, 148, 0.6);
  --animation-color: #4f46e5;
  /* --fs-size: 0.5em; */
  /* letter-spacing: 3px; */
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  /* text-transform: uppercase; */
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button1 */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button1:hover .hover-text {
  width: 100%;
  /* filter: drop-shadow(0 0 23px var(--animation-color)) */
}

/* .image {
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.4); 
} */

/* ======================== */
.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.svgIcon {
  width: 16px;
  height: auto;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: #4e46e5eb;
  border-radius: 12px;
  color: white;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: #4f46e5;
}

.tooltip-container:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ============================= */

.image-container {
  display: flex;
}

.image-item {
  transition: transform 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.image-item:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}